body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa';
  overflow-x: hidden;
}

header {
  background: #52bad5;
  height: 60px;
  color: #fff;
  font-size: 20px;
}

.nav-bar .logo {
  float: left;
}

.nav-bar a {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar .logo a span {
  color: #fff;
  font-weight: bold;
  line-height: 65px;
}

.nav-bar {
  max-width: 1300px;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  margin-left: 20px;
}

nav .username a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown span {
  line-height: 0;
  font-size: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 20;
}

.dropdown:hover .dropdown-content {
  background: rgb(82, 187, 213);
  padding: 10px;
  height: 90px;
  width: 80px;
  display: block;
  right: 0;
}

.dropdown-content > a{
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
  background: green;
  font-size: 16px;
  box-shadow: 1px 1px 2px 0 gray;
}

.page-title span {
  font-style: italic
}

.page-title img,
.logo img {
  height: 60px;
  width: 45px;
}

.page-title {
  text-align: center
}

.welcome {
  background-image: url('../img/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.welcome-content,
.modal {
  background: rgba(36, 40, 38, 0.8);
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center
}

.intro,
.auth-btn,
.words {
  display: block;
}

.intro {
  height: 350px;
  margin-top: 50px;
}

.intro-content {
  display: inline-block;
  width: 40%;
  margin-left: 0;
}

.delivery-girl {
  float: left;
}

.delivery-girl img {
  width: 60%;
  height: 100%;
  transform: scaleX(-1);
}

.intro-words {
  padding-top: 10%;
}

.words {
  height: 100px;
}

.progress-bar {
  width: 100%;
  height: 2px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.4px;
  margin-top: 15px;
}

.progress-color {
  background: #52bad5;
  width: 1%;
  height: 100%;
  border-radius: 10px;
}

.auth-btn input {
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background: green;
  color: #fff;
  border: none;
  font-size: 17px;
  font-family: 'Comfortaa';
  outline: none;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px #1a1a1a;
  cursor: pointer;
}

.login {
  margin-left: 20px;
}

.auth-btn input:hover {
  font-weight: bold;
  box-shadow: 1px 3px 2px 1px #1a1a1a;
}

.modal {
  z-index: 20;
  display: none;
  text-align: center;
}

.my-order {
  position: fixed;
}

.auth-modal-content {
  margin: 20px auto 0;
  max-width: 500px;
}

.auth-form {
  background: rgba(102, 99, 88, 0.2);
  max-width: 500px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10%;
  box-sizing: border-box;
  display: none;
}

.form-before-click {
  width: 200px;
  margin-top: 3%;
  transform: rotate(-30deg);
  transition: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
}

.form-after-click {
  transform: rotate(0);
  transition: 0.5s;
  transition-timing-function: ease-out;
  opacity: 1;
}

.auth-form form label {
  display: block;
  float: left;
  padding: 5px;
}

.formAlert {
  font-size: 16px;
  padding: 3px;
  float: left;
  border-radius: 5px;
  display: none;
  font-weight: bold
}

.auth-form input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.auth-form form input[type=submit] {
  background: green;
  color: #fff;
  cursor: pointer;
}

.auth-form form input[type=submit]:hover {
  box-shadow: 1px 1px 2px 1px #000;
}

.close {
  float: right;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

#login-modal,
#signup-modal {
  cursor: pointer;
  text-decoration: underline;
}

.translate-form {
  animation: translate-form 1s ease-out;
  opacity: 1;
}

@keyframes translate-form {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.form-title {
  display: block;
  font-weight: bold
}

.food {
  height: 200px;
  margin: 30px 0;
}

.scroll-top {
  color: #e65c00;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 5px;
  cursor: pointer;
  padding: 0 7px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 1px 1px 2px 1px #404040;
}


.foodContainer {
  min-height: 90vh;
  display: flex;
  max-width: 1250px;
  justify-content: space-between;
  margin: 25px auto;
  flex-wrap: wrap;
  padding: 0 10px;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.menu {
  height: 350px;
  max-width: 280px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px gray;
}

.menuImage {
  height: 200px;
  width: 100%;
}

div.menuName {
  background: #52bad5;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.details {
  padding: 5px;
}

.description {
  height: 45px;
  overflow-y: visible;
  margin-bottom: 10px;
}

.orderAction {
  text-align: center;
}

.price {
  position: absolute;
  margin: 50px 25px;
  background: gray;
  color: #fff;
  padding: 5px;
  box-shadow: 1px 1px 2px 1px #000;
}

.orderBtn {
  background: green;
  padding: 2px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: auto;
  outline: none;
  color: #fff;
  box-shadow: 1px 1px 2px 1px #1a1a1a;
}

.quantityform {
  margin-top: 10px;
  display: none;
}

form select {
  width: 50px;
  padding: 3px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form input[type='submit'].input {
  background: green;
  color: #fff;
  outline: none;
  border: none;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  margin-left: -7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input {
  outline: none;
}

.toggle-cart {
  background: gray;
  display: none;
  width: 150px;
  height: 35px;
  text-align: center;
  position: fixed;
  top: 60px;
  color: #fff;
  transition: 0.5s;
  transition-timing-function: ease-out;
  padding: 15px 10px;
  line-height: 30px;
  z-index: 2;
}

.toggle-cart span {
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #404040;
  cursor: pointer;
  float: right;
  font-size: 20px;
  background: #e65c00;
  font-weight: bold;
}

.cart-modal {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(36, 40, 38, 0.5);
  display: none;
  position: fixed;
  height: 100%;
}

.cart-dashboard {
  background: #52bad5;
  display: none;
  position: fixed;
  top: 60px;
  width: 310px;
  z-index: 1;
  height: 91.2vh;
  /* min-height: 96.5vh; */
  padding: 20px 5px;
  box-shadow: 2px 2px 5px 2px gray;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.cart-items {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 40px;
}

.newOrderDiv {
  display: flex;
  height: auto;
  width: 100%;
  padding: 5px;
  color: #fff;
  margin-top: 5px;
  background: #2091ad;
}

.otherDetails {
  margin-left: 5px;
}

.cartTotal {
  text-align: center;
  background: #404040;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  margin: auto;
}

.cartQuantity {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 2px;
  box-shadow: 1px 1px 2px 1px #404040;
}

.newOrderDiv {
  display: flex;
  height: auto;
  width: 100%;
  padding: 5px;
  color: #fff;
  margin-top: 5px;
  background: #2091ad;
}

.otherDetails {
  margin-left: 5px;
}

.cartTotal {
  text-align: center;
  background: #404040;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  margin: auto;
}

.cartQuantity {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 2px;
  box-shadow: 1px 1px 2px 1px #404040;
}

.orderImageDiv {
  height: 55px;
  width: 70px;
}

.order-cart {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 245px;
  color: #fff;
  font-weight: bold;
}

form input[type='submit']#cartBtn {
  cursor: pointer;
  margin-top: 5px;
  background: green;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 2px 2px 0 #404040;
}

.decide {
  display: flex;
}

input.deliver-to {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  box-shadow: 1px 1px 2px 0 #404040;
  width: 80%
}

.delete {
  cursor: pointer;
  border-radius: 50%;
  padding: 1px 4px;
  background: #fff;
  color: red;
  box-shadow: 1px 1px 2px 1px gray;
  position: absolute;
  right: 10px;
}

.tool-tip {
  display: none;
  position: absolute;
  color: #fff;
  background: #4a4a4a;
  padding: 2px;
  border-radius: 5px;
  font-size: 12px;
}

.delete:hover .tool-tip {
  display: block;
}

.pageAlert {
  padding: 10px;
  height: 15px;
  z-index: 5;
  position: fixed;
  width: 100%;
  text-align: center;
  background: rgb(69, 92, 141);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  transition-timing-function: ease-out;
  transition: 1s;
  background: transparent;
}

.orders-list {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px auto;
  border: #cccccc 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.order-history {
  border: gray 1px solid;
  display: flex;
}

.order-column {
  flex: 1;
  padding: 10px;
}

.order2,
.order4 {
  background: #efefef;
}

.order-history-title {
  margin-top: 520px;
}

.column-head {
  background: #cccccc;
}

.order-mobile {
  display: flex;
  flex-direction: column;
  border: #cccccc 1px solid;
  max-width: 960px;
  margin: 20px auto;
  display: none;
}

.mobile {
  border: #cccccc 1px solid;
  display: flex;
}

.view {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.order1-mobile {
  background: #efefef;
}

.order3-mobile {
  background: #efefef;
}

.footer {
  height: 10%;
  background: #52bad5;
  bottom: 0;
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

.user-front {
  color: #fff;
  font-size: 12px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 1px 3px;
  border-radius: 10px;
  background: #e65c00;
  box-shadow: 1px 1px 2px 1px #404040;
}

@media(max-width: 920px) {
  .foodContainer {
    justify-content: flex-start;
  }
}

@media(max-width:898px) {
  .auth-btn input {
    margin-left: 0;
  }
}

@media(max-width: 760px) {
  .delivery-girl img {
    width: 65%;
  }
}

@media(max-width:600px) {
  .delivery-girl img {
    width: 80%;
  }
}

@media(max-width: 560px) {
  h1.page-title {
    font-size: 25px;
  }
}

@media(max-width:500px) {
  .auth-btn input {
    width: 150px;
  }

  .intro {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .intro-content,
  .delivery-girl {
    display: block;
    width: 100%;
  }

  .words {
    height: 50px;
  }

  .delivery-girl img {
    width: 35%;
  }

  .intro-content {
    padding-top: 3px;
    margin: 0 auto;
  }

  .progress-bar {
    width: 70%;
    margin-left: 15%;
  }

  .auth-btn {
    padding-top: 50px;
  }
}

@media(max-width: 475px) {
  .username,
  .logout {
    display: none;
  }

  .signup-menu,
  .login-menu {
    display: none;
  }

  .dropdown {
    display: inline-block;
    float: right;
  }
}

@media(max-width:460px) {
  .auth-btn input {
    width: 150px;
  }
}

@media(max-width: 450px) {
  .delivery-girl img {
    width: 40%;
  }
}

@media(max-width:410px) {
  h1.page-title {
    font-size: 20px;
  }
}

@media(max-width:380px) {
  .intro-words {
    padding-top: 5%;
  }
}

@media(max-width: 365px) {
  .words {
    height: 80px;
  }
}

@media(max-width:355px) {
  .auth-btn input {
    width: 120px;
  }
}

@media(max-width: 345px) {
  .delivery-girl img {
    width: 50%;
  }
}

@media(max-width: 312px) {
  h1.page-title span {
    display: block;
  }

  h1.page-title span img {
    height: 30px;
    width: 25px;
  }

  .banner {
    height: 170px;
  }
}

@media(max-width: 288px) {
  h1.page-title {
    font-size: 17px;
  }
}

@media(max-width: 280px) {
  .words {
    height: 70px;
  }

  .nav-bar .logo a span {
    font-size: 16px;
  }

  .nav-bar .logo img {
    height: 40px;
    width: 25px;
  }

  header {
    height: 45px;
  }

  nav ul li {
    margin-left: 5px;
  }
}

@media(max-width:275px) {
  .auth-btn input {
    display: block;
    margin-bottom: 10px;
  }

  .login {
    margin-left: 0;
  }

  .auth-btn {
    margin-left: 25%
  }
}

@media(max-width: 257px) {
  .words {
    height: 100px;
  }

  .auth-btn {
    margin-left: 22%
  }
}

@media(max-width: 215px) {
  nav ul li {
    margin-left: 0;
  }
}

@media(max-width: 200px) {
  .auth-btn {
    margin-left: 15%
  }
}

@media (max-height: 1366px) and (min-height: 1024px) {
  .intro {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .delivery-girl,
  .intro-content {
    width: 100%;
  }

  .delivery-girl img {
    width: 25%;
  }

  .intro-content {
    padding-top: 3px;
  }

  .words {
    font-size: 30px;
  }

  .progress-bar {
    width: 80%;
    margin-left: 10%;
  }

  .auth-btn {
    margin-top: 25%;
  }
}

@media(max-height: 600px) {
  .welcome {
    height: 120vh;
  }
}

@media(max-height: 495px) {
  .welcome {
    height: 130vh;
  }
}

@media(max-height: 455px) {
  .welcome {
    height: 160vh;
  }
  .welcome-content, .modal {
    height: 160vh;
  }
}

@media(max-height: 360px) {
  .welcome-content, .modal {
    height: 180vh;
  }
}

@media(max-height: 376px) {
  .welcome {
    height: 180vh;
  }
}

@media(max-height: 325px) {
  .welcome {
    height: 200vh;
  }
}